* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212639;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-size: .75em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: url(https://i.postimg.cc/W3sMYzZ9/5.png), default !important;
}

a {
    all: unset;
    /* cursor: pointer; */
    cursor: url(https://i.postimg.cc/4dTKNxQz/1p.png), pointer !important;
}

a:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.headSection {
    margin: 20px 20px 0 20px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.headText {
    font-weight: normal;
    margin-bottom: 15px;
}

.allTable {
    width: -webkit-fill-available;
    margin: 40px 80px 0;
    border-spacing: 2px;
}

.tableTag {
    color: #7BB8D3;
}

.headWord {
    color: #F4F187;
}

.captionHead {
    color: #C6717A;
}

.bold {
    font-weight: bold;
}

.dark {
    color: #384C60;
    margin: 0 2.5px;
}

.theadSection {
    color: #384C60;
    font-weight: bold;
    text-align: left;
}

.thSection {
    background-color: transparent;
    padding: 25px 30px;
    /* border: 1px solid #384C60;
    border-bottom: 0;
    border-right: 0; */
}

/* .thSection:nth-last-child(1) {
    border-right: 1px solid #384C60;
} */

.darkTr {
    background-color: #2D3446 !important;
}

.disTdText,
.tdSection {
    background-color: #353C4E;
    padding: 25px 30px;
}

.disTdText {
    color: #C6717A;
    font-weight: bold;
}

.tbodySection {
    color: #CCC;
}

.disTdText:hover ~ .tdSection {
    color: #403E10 !important;
    background-color: #FFF842 !important;
}

.disTdText:hover, .darkTr:hover, .theadSection:hover .thSection, .tdSection:hover, .theadSection:hover {
    color: #403E10 !important;
    background-color: #FFF842 !important;
    /* border: none; */
}

/* .thSection {
    transform-origin: top right;
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
}

.thSection:hover {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
} */

/* td {
    border: 0px solid #212639;
} */